td {
    width: 1px;
    white-space: nowrap; /* 自适应宽度*/
    word-break:  keep-all; /* 避免长单词截断，保持全部 */
}
table {
    table-layout: fixed;
    width: 100%;
}
body{text-align:center}

#images{margin:0 auto}

.method1{
    text-align:center;
}