<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.core.mapper.InsProtocolPromotionProductMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.pojo.insurance.promotion.InsProtocolPromotionProduct" >
    <result column="id" property="id" />
    <result column="promotion_id" property="promotionId" />
    <result column="product_id" property="productId" />
    <result column="product_code" property="productCode" />
    <result column="deleted" property="deleted" />
  </resultMap>

  <sql id="Base_Column_List">
        id, promotion_id, product_id, product_code, deleted
  </sql>

  <!--批量新增推动奖励产品关系-->
  <insert id="insertPromotionProductList" parameterType="com.hzcf.pojo.insurance.promotion.InsProtocolPromotionProduct" keyColumn="id"
          keyProperty="id" useGeneratedKeys="true">
    INSERT INTO ins_protocol_promotion_product (
    <include refid="Base_Column_List"/>
    ) VALUES
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id}, #{item.promotionId},#{item.productId},#{item.productCode},#{item.deleted})
    </foreach>
  </insert>

  <!--根据id集合删除关联产品-->
  <update id="deletePromotionProduct" parameterType="java.util.List">
    UPDATE ins_protocol_promotion_product SET deleted = 1
    WHERE Id IN
    <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>

  <!-- 根据推动奖励id查询相关产品 -->
  <select id="queryPromotionProducts" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM ins_protocol_promotion_product WHERE deleted = 0 AND promotion_id = #{promotionId}
  </select>

  <!-- 根据推动奖励id查询相关产品id -->
  <select id="queryPromotionProductIds" parameterType="java.lang.Long" resultType="long">
    SELECT id FROM ins_protocol_promotion_product WHERE deleted = 0 AND promotion_id = #{promotionId}
  </select>

  <select id="queryProductIdsByPromotionId" parameterType="java.lang.Long" resultType="long">
    SELECT productId FROM ins_protocol_promotion_product WHERE deleted = 0 AND promotion_id = #{promotionId}
  </select>

</mapper>